@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&family=Nunito:wght@300;400&display=swap');

// #1a2980
// #0052a4
// #0076b8
// #0098be
// #00b9bb
// #5bd7b7

// #00c898

$main-gradient: 45deg, #1a2980, #0052a4, #0076b8, #0098be, #00b9bb, #5bd7b7;
$gradient: #0076b8;
* {
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'DM Sans', sans-serif;
  letter-spacing: 2px;
}
h1 {
  font-size: 3vw;
}
h1,
h2 {
  text-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

nav {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.9);
  margin: 10px;
  padding: 5px 20px;
  right: 10px;
  border-radius: 5px;
  box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.5);
  a {
    text-decoration: none;
    color: gray;
    padding: 0 10px;
  }
}
// nav {
//   position: fixed;
//   //   background-color: rgba(255, 255, 255, 0.9);
//   margin: 10px;
//   padding: 5px 20px;
//   right: 10px;
//   //   border-radius: 5px;
//   text-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
//   a {
//     text-decoration: none;
//     color: rgba(255, 255, 255, 0.5);
//     padding: 0 10px;
//   }
// }

section {
  height: 100vh;
  width: 100vw;
}

#welcome-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  //   background-image: radial-gradient(circle, #516c86, #35363b);
  //   background-image: linear-gradient(45deg, rgb(49, 179, 184), rgb(42, 88, 134));
  background-image: linear-gradient(45deg, rgb(49, 184, 128), rgb(70, 70, 70));
  box-shadow: 0 5px 15px px rgba(0, 0, 0, 0.5);
}

#projects {
  text-align: center;
  padding: 20px;
  //   background-color: orange;
  background-image: linear-gradient(45deg, rgb(87, 48, 138), orangered);
  background-image: linear-gradient(45deg, rgb(36, 36, 36), rgb(117, 117, 117));
  color: white;
  h2 {
    font-size: 35px;
  }
  .projects-container {
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }
}
.project-tile {
  width: 340px;
  height: 192px;
  //   background-color: white;
  box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.5);
  color: gray;
  border-radius: 3px;
  background-size: contain;
  background-repeat: no-repeat;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -webkit-transition: 0.3s ease-in-out;
  -moz-filter: grayscale(100%);
  -moz-transition: 0.3s ease-in-out;
  -o-filter: grayscale(100%);
  -o-transition: 0.3s ease-in-out;
  transition: filter;
  h3 {
    // background-color: rgba(255, 255, 255, 0.247);
    // width: 100%;
    // height: 100%;
    background-color: yellow;
    color: rgb(65, 65, 65);
    // margin-top: 70px;
    padding: 5px;
    font-size: 17px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
    border-radius: 3px 3px 0 0;
  }
  &:hover {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    -webkit-transition: 0.3s ease-in-out;
    -moz-filter: grayscale(0%);
    -moz-transition: 0.3s ease-in-out;
    -o-filter: grayscale(0%);
    -o-transition: 0.3s ease-in-out;
    cursor: pointer;
  }
}
#hiperfoco {
  background-image: url('./images/hiperfoco.png');
}
#zapwork {
  background-image: url('./images/zapwork.png');
}
#calculator {
  background-image: url('./images/javascript-calc.png');
}

@media (max-width: 600px) {
  h1 {
    font-size: 7vw;
  }
}
